@use "/node_modules/normalize-scss/sass/normalize";

@use "base/variables";
@use "base/fonts";

@use "blocks/header";
@use "blocks/footer";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Bebas Neue Pro", sans-serif;
}

html {
    // scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .container {
        max-width: 1240px;
    }
}

@media(min-width: 1440px) {
    .bg-2 {
        position: absolute;
        // width: 1920px;
        // height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: url("../img/bg-2.webp");
        background-repeat: no-repeat;
        // background-size: 100px 100px;
        background-position: right 3390px;
        // background-size: cover;
        z-index: -1;
    }
    .bg-3 {
        position: absolute;
        // width: 1920px;
        // height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: url("../img/bg-3.webp");
        background-repeat: no-repeat;
        // background-size: 100px 100px;
        background-position: center 6650px;
        // background-size: cover;
        z-index: -1;
    }
    .bg-4 {
        position: absolute;
        // width: 1920px;
        // height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: url("../img/bg-4.webp");
        background-repeat: no-repeat;
        // background-size: 100px 100px;
        background-position: left calc(100% - 400px);
        // background-size: cover;
        z-index: -1;
        background-size: contain;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes wave-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        /* Размер волны */
        opacity: 0;
    }
}