@use "/node_modules/normalize-scss/sass/normalize";

@use "base/variables";
@use "base/fonts";

@use "blocks/header";
@use "blocks/footer";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: "Bebas Neue Pro", sans-serif;
}

html {
    // scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg-main);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
