.bottom {
    background: #1C1A17;
    padding: 250px 0 65px 0;

    &__hr {
        display: none;
        margin: 40px 0 0 0;

        border: none;
        height: 1px;
        background: #000000;
        opacity: 0.3;
    }

    &__text {
        // margin: 10px 0 0 0;
        color: var(--text-main);
        font-size: 32px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    &__socials {
        margin: 38px 0 0 0;
        padding: 0 0 0 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__social {
        width: 34px;
        height: 34px;
        cursor: pointer;

        transition: transform 0.3s ease;
        animation: pulse 1.75s infinite;
    
        &:hover {
            // animation-play-state: paused;
            animation: none;
            transform: scale(1.1);
        }
    }
}

@media(min-width: 768px) {
    .bottom {
        padding: 200px 0 60px 0;

        &__hr {
            display: block;
            margin: 42px 0 0 0;
        }

        &__socials {
            margin: 10px 0 0 0;
            // padding: 0 0 50px 0;
        }
    }
}