.faq {
    margin: clamp(2.5rem, 1.5rem + 5vw, 6rem) 0 0 0;

    &__title {
        color: var(--text-main);
        font-size: clamp(3rem, 2.286rem + 3.57vw, 5.5rem);
        font-weight: 800;
        line-height: clamp(2.813rem, 2.277rem + 2.68vw, 4.688rem);
        text-align: center;
    }

    &__wrapper {
        margin: clamp(2.375rem, 2.089rem + 1.43vw, 3.375rem) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__item {
        position: relative;
        padding: 15px 30px 15px 10px;
        width: 280px;
        border-radius: 8px;

        background: var(--bg-box);
        cursor: pointer;
    }

    &__item-title {
        color: var(--text-title);
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
    }

    &__item-img {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__item-list {
        color: var(--text-second);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        // padding: 0 0 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;

        li {
            list-style-type: disc;
        }
    }

    &__item-list p {
        color: var(--text-second);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }

    &__item-list_active {
        max-height: 400px;
        // margin: 12px 0 0 0;

        p {
            max-height: 400px;
        }
    }
}
.faq {
    &__item:first-child {
        .faq__item-list {
            padding: 0 0 0 20px;
        }
    }
}

@media(min-width: 768px) {
    .faq {
        &__item {
            padding: 30px;
            width: 585px;
        }
        &__item-img {
            top: 30px;
            right: 20px;
        }
        &__item-list_active {
            margin: 15px 0 0 0;
        }
    }
}
@media(min-width: 1024px) {
    .faq {
        &__item {
            width: 890px;
        }
    }
}
@media(min-width: 1440px) {
    .faq {
        &__item {
            width: 1200px;
        }
    }
}