.hero {
    padding: 6px 0 0 0;

    background: url("../img/bg-mob-111.png");
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-position: center 60px;
    // background-size: cover;

    &__top-title {
        color: #9eadc0;
        font-size: 20px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__title {
        margin: 8px 0 0 0;
        color: var(--text-main);
        font-size: 54px;
        font-weight: 800;
        line-height: 42px;
    }

    &__benefits {
        margin: 390px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__benefit {
        position: relative;
        display: flex;
        align-items: center;
        width: 280px;
        height: 60px;
    }

    &__benefit-bracket {

        &_reverse {
            transform: rotate(180deg);
            position: absolute;
            right: 0;
        }
    }

    &__benefit-img {
        margin: 0 0 0 10px;
        width: 24px;
        height: 24px;
    }

    &__benefit-content {
        margin: 0 0 0 18px;
    }

    &__benefit-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #000000;
    }

    &__benefit-description {
        font-size: 20px;
        font-weight: 800;
        line-height: 23px;
        color: var(--text-main)
    }

    &__contacts {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &__contacts-text {
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
    }

    &__contacts-btns {

    }

    &__contacts-btn {
        position: relative;
        width: 280px;
        height: 80px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // gap: 34;
        // padding: 10px 10px 10px 33px;
        border-radius: 8px;
        border: none;
        background: var(--btnColor-default_bg);
        color: #fbf7f2;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__contacts-btn::after {
        content: url("../../icons/hero/arrow-btn.svg");
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__contacts-socials {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__contacts-social {
        width: 34px;
        height: 34px;
        cursor: pointer;
    }
}

@media(min-width: 768px) {
    .hero {
        padding: 40px 0 0 0;
        background: none;

        &__top-title {
            font-size: clamp(1.25rem, 0.821rem + 0.89vw, 1.625rem);
            line-height: clamp(1.313rem, -0.688rem + 4.17vw, 3.063rem);
        }
    
        &__title {
            margin: clamp(0.5rem, -0.357rem + 1.79vw, 1.25rem) 0 0 0;
            font-size: clamp(4.063rem, -0.438rem + 9.38vw, 8rem);
            line-height: clamp(3.375rem, 0.089rem + 6.85vw, 6.25rem);
        }

        &__benefits {
            margin: clamp(3.125rem, 1.554rem + 3.27vw, 4.5rem) 0 0 0;
            flex-direction: row;
        }

        &__benefit {
            width: unset;
        }

        &__benefit-bracket_reverse {
            position: static;
            margin: 0 0 0 10px;
        }

        &__contacts {
            margin: clamp(3.125rem, 0.982rem + 4.46vw, 5rem) 0 0 0;
            justify-content: start;
            flex-direction: row;
            gap: 12px;
        }

        &__contacts-text {
            width: 190px;
            text-align: start;
        }
    }
}