.obtaining {
    margin: clamp(2.813rem, 2.009rem + 4.02vw, 5.625rem) 0 0 0;
    position: relative;

    &__title {
        font-size: clamp(3rem, 2.286rem + 3.57vw, 5.5rem);
        font-weight: 800;
        line-height: clamp(2.813rem, 2.277rem + 2.68vw, 4.688rem);
        text-align: center;
        color: var(--text-main);
    }

    &__wrapper {
        margin: clamp(1.563rem, 0.938rem + 3.13vw, 3.75rem) 0 0 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 280px);
        grid-auto-rows: 185px;
        gap: 20px;
    }

    &__item {
        position: relative;
        border-radius: 8px;
        padding: 15px 40px 15px 20px;
        background: var(--bg-box)
    }

    &__item-num {
        position: absolute;
        top: -20px;
        right: 50px;

        font-family: Bebas Neue Pro Num;
        font-size: 40px;
        font-weight: 800;
        opacity: 0.2;
        text-transform: uppercase;
        color: var(--text-title);

        span {
            font-family: Bebas Neue Pro Num;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            color: var(--text-title);
        }
    }

    &__item-title {
        color: var(--text-title);
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
    }

    &__item-description {
        margin: 15px 0 0 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: var(--text-main);
    }

    &__item-social {
        margin: 15px 0 0 0;
        display: flex;
        gap: 20px;

        img {
            width: 34px;
            height: 34px;
            cursor: pointer;

            transition: transform 0.3s ease;
            animation: pulse 1.75s infinite;
        
            &:hover {
                // animation-play-state: paused;
                animation: none;
                transform: scale(1.1);
            }
        }
    }
}

@media(min-width: 425px) {
    .obtaining {
        &__wrapper {
            grid-template-columns: repeat(1, 300px);
            grid-auto-rows: 160px;
        }
    }
}
@media(min-width: 768px) {
    .obtaining {

        &__wrapper {
            grid-template-columns: repeat(2, 300px);
        }
    }
}
@media(min-width: 1024px) {
    .obtaining {
        &__wrapper {
            grid-template-columns: repeat(3, 300px);
        }
    }
}
@media(min-width: 1440px) {
    .obtaining {
        &__wrapper {
            gap: 40px;
            grid-template-columns: repeat(4, 270px);
        }
        &__item {
            padding: 15px 10px 15px 20px;

            &:after {
                content: url("../../icons/obtaining-arrow.svg");
                position: absolute;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(4)::after,
            &:nth-child(8)::after {
                content: none;
            }
        }
        &__item-num {
            position: absolute;
            right: 20px;
        }
    }
}