.other-services {
    margin: clamp(1.125rem, -0.518rem + 8.21vw, 6.875rem) 0 0 0;

    &__title {
        color: var(--text-main);
        font-size: clamp(3rem, 2.286rem + 3.57vw, 5.5rem);
        font-weight: 800;
        line-height: clamp(2.813rem, 2.277rem + 2.68vw, 4.688rem);
        text-align: center;
    }

    &__wrapper {
        margin: clamp(2.375rem, 1.714rem + 3.3vw, 4.688rem) 0 0 0;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 270px);
        justify-content: center;
    }

    &__item {
        width: 270px;
        height: 300px;
        border-radius: 8px;
        background: var(--bg-box);
        overflow: hidden;
        cursor: pointer;
    }

    &__item-img {
        display: block;
        width: 270px;
        height: 180px;
    }

    &__item-content {
        margin: 34px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item-title {
        color: var(--text-title);
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
    }

    &__item-price {
        color: var(--text-active);
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
    }
}

@media(min-width: 768px) {
    .other-services {
        &__wrapper {
            gap: 40px;
            grid-template-columns: repeat(2, 270px);
        }
    }
}
@media(min-width: 1024px) {
    .other-services {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
        }
    }
}
@media(min-width: 1440px) {
    .other-services {
        &__wrapper {
            grid-template-columns: repeat(4, 270px);
        }
    }
}