.header {
    padding: clamp(1.25rem, 0.536rem + 3.57vw, 3.75rem) 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            display: block;
            width: clamp(6.25rem, 5.625rem + 3.13vw, 8.438rem);
            // height: clamp(1.875rem, 1.696rem + 0.89vw, 2.5rem);
        }
    }

    &__content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;
    }
    
    &__content-text {
        margin: 0 14px 0 0;
        display: none;
        color: var(--text-main);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    &__content-socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);

        img {
            width: clamp(1.25rem, 1rem + 1.25vw, 2.125rem);
            height: clamp(1.25rem, 1rem + 1.25vw, 2.125rem);
        }
    }

    &__content-number {
        position: relative;
        margin: 0 8px 0 0;
        p {
            color: var(--text-main);
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
        }
        button {
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%);
            width: 69px;
            height: 26px;
            border: 1px solid var(--text-main);
            border-radius: 8px;
        
            backdrop-filter: blur(2px);
            background: rgba(255, 255, 255, 0.1);

            color: #000000;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
        }
    }

    &__content-btn {
        display: none;
        width: 140px;
        height: 40px;
        border-radius: 8px;
        background: #e5e5e5;
        border: none;

        color: var(--text-main);
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
    }
}

@media(min-width: 768px) {
    .header {
        &__content {
            flex-direction: row;
            gap: 6px;
        }
        &__content-text {
            display: block;
        }
        &__content-number {
            margin: 0 16px 0 0;
        }
        &__content-btn {
            display: block;
        }
    }
}