.header {
    padding: clamp(1.25rem, 0.536rem + 3.57vw, 3.75rem) 0 30px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            display: block;
            width: 100px;
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4px;
    }
    
    &__content-text {
        margin: 0 10px 0 0;
        display: none;
        color: var(--text-main);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    &__content-socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;

            transition: transform 0.3s ease;
            animation: pulse 1.75s infinite;

            &:hover {
                // animation-play-state: paused;
                animation: none;
                transform: scale(1.1);
            }
        }
    }

    &__content-number {
        position: relative;
        margin: 0 8px 0 0;
        p {
            color: var(--text-main);
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
        }
        button {
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%);
            width: 69px;
            height: 26px;
            border: 1px solid var(--text-main);
            border-radius: 8px;
        
            // backdrop-filter: blur(3px);
            background: #e5e5e5;

            color: #000000;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: #c7c7c7;
            }
        }
    }

    &__content-btn {
        display: none;
        width: 140px;
        height: 40px;
        border-radius: 8px;
        background: #e5e5e5;
        border: none;

        color: var(--text-main);
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background: #c7c7c7;
            color: #494c51;
        }
    }
}

@media(min-width: 768px) {
    .header {
        &__logo {
            img {
                width: 135px;
            }
        }

        &__content {
            flex-direction: row;
            gap: 10px;
        }
        &__content-text {
            display: block;
        }
        &__content-socials {
            gap: 16px;

            img {
                width: 34px;
                height: 34px;
            }
        }
        &__content-number {
            margin: 0 12px 0 0;
        }
        &__content-btn {
            display: block;
        }
    }
}