.modal-ws {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: var(--index-modal);
    background-color: rgba(0, 0, 0, 0.7);

    &_active {
        display: flex;
    }

    &__wrapper {
        background: url("../img/bg-modal.webp");
        background-repeat: no-repeat;
        // background-size: 100% 100%;
        background-position: center center;
        background-size: cover;

        border-radius: 8px;
        padding: 20px;
    }

    &__cross {
        display: block;
        margin: 0 0 0 auto;

        cursor: pointer;
    }

    &__title {
        margin: 30px 0 0 0;
        color: var(--text-main);
        font-size: 30px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }

    &__content {
        // margin: 20px 0 0 0;
        display: flex;
        height: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 240px;
        height: 80px;
        border-radius: 8px;
        border: none;

        color: #fbf7f2;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        cursor: pointer;

        &:before {
            content: url("../../icons//price/contacts-arrow.svg");
            position: absolute;
            left: 55px;
            top: 47%;
            transform: translateY(-50%);
        }

        &:after {
            content: url("");
            position: absolute;
            right: 30px;
            top: 52%;
            transform: translateY(-50%);
        }

        &_ws {
            background: #25d366;
            transition: 0.5s;

            &:after {
                content: url("../../icons/ws.svg");
            }
            &:hover {
                background: #29b95f;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        input[type="checkbox"] {
            width: 15px;
            height: 15px;
        }

        label {}
    }
}

@media(min-width: 768px) {
    .modal-ws {
        &__wrapper {
            width: 700px;
        }

        &__btn {
            width: 280px;

            &:before {
                content: url("../../icons//price/contacts-arrow.svg");
                position: absolute;
                left: 75px;
                top: 47%;
                transform: translateY(-50%);
            }
        }
    }
}